.outinputBody {
  width: 100%;
  height: 1500px;
}
.outinputImg {
  width: 100%;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.outinputBlend {
  width: 300px;
  height: 200px;
  position: relative;
  bottom: 250px;
  left: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: ghostwhite;
}

.outinputMain {
  width: 100%;
  height: 1090px;
  position: relative;
  bottom: 200px;
}
.outinputH1 {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  top: 100px;
  left: 200px;
}
.outinputP1 {
  width: 700px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  top: 100px;
  left: 200px;
}
.imgBody {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.Img {
  width: 500px;
  height: 500px;
  margin-right: 50px;
}
.explain1 {
  position: absolute;
  top: 760px;
  left: 200px;
  border-bottom: 1px solid gray;
  font-size: 1rem;
  font-weight: bold;
}
.explain2 {
  position: absolute;
  top: 760px;
  left: 750px;
  border-bottom: 1px solid gray;
  font-size: 1rem;
  font-weight: bold;
}
