.recruitmentBody {
  width: 100%;
  height: 1100px;
}
.recruitmentImg {
  width: 100%;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.recruitmentBlend {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 250px;
  left: 1000px;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: ghostwhite;
}

.recruitmentMain {
  width: 100%;
  height: 690px;
  position: relative;
  bottom: 100px;
}
.recruitmentH1 {
  width: 100px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  top: 100px;
  left: 300px;
}
.recruitmentH2 {
  width: 200px;
  height: 50px;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  top: 150px;
  left: 300px;
}
.recruitmentH3 {
  width: 100px;
  height: 50px;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  top: 150px;
  left: 300px;
}
.recruitmentP1 {
  width: 1000px;
  height: 100px;
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
  top: 150px;
  left: 300px;
}
.recruitmentP2 {
  width: 1000px;
  height: 100px;
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
  top: 150px;
  left: 300px;
}
