.header {
  height: 70px;
  position: relative;
  z-index: 2;
}
.headerA {
  text-decoration: none;
}
.headerH1 {
  display: inline;
  margin-left: 200px;
}
.headerUl {
  margin-right: 150px;
  float: right;
  display: inline-flex;
}
.headerLi {
  list-style: none;
}
.headerA {
  font-size: 1rem;
  color: black;
  text-align: left;
  padding-right: 20px;
}
.headerUl > li:hover .headerOl {
  opacity: 1;
  visibility: visible;
}
.headerOl {
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
  border: 1px black solid;
}
