.indexImage {
  width: auto;
  height: 410px;
  background-image: url(/main.jpg);
  position: relative;
  z-index: 1;
  margin-top: 8px;
}
.indexBlend {
  mix-blend-mode: normal;
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  color: ghostwhite;
  margin-left: 1000px;
  margin-top: 150px;
}
.indexMain {
  height: 220px;
  padding-left: 300px;
  padding-top: 10px;
}
.indexP {
  font-size: 1.3rem;
}
