header {
  height: 70px;
  position: relative;
  z-index: 2;
}
header h1 {
  display: inline;
  margin-left: 200px;
}
header ul {
  margin-right: 150px;
  float: right;
  display: inline-flex;
}
header li {
  list-style: none;
}
/* header p {
  font-size: 1rem;
  color: black;
  text-align: left;
} */
header a {
  font-size: 1rem;
  color: black;
  text-align: left;
  padding-right: 20px;
}
header ul > li:hover ol {
  opacity: 1;
  visibility: visible;
}
/* header ol > li > p:hover {
  display: block;
  text-decoration: underline;
} */
header ol {
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
  border: 1px black solid;
}
nav {
  width: auto;
  height: 410px;
  background-image: url(/main.jpg);
  position: relative;
  z-index: 1;
  margin-top: 8px;
}
nav span {
  mix-blend-mode: normal;
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  color: ghostwhite;
  padding-left: 1100px;
  padding-top: 150px;
  height: 400px;
}
main {
  height: 220px;
  padding-left: 300px;
  padding-top: 10px;
}
main p {
  font-size: 1.3rem;
}
footer {
  background-color: steelblue;
  color: white;
  height: 140px;
}
footer h1 {
  display: inline;
  margin-left: 200px;
  margin-right: 380px;
}
footer p {
  margin-left: 730px;
}
