.ceoBody {
  width: 100%;
  height: 1100px;
}
.ceoImg {
  width: 100%;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ceoBlend {
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  color: ghostwhite;
  text-transform: uppercase;
  position: relative;
  bottom: 250px;
  left: 1000px;
}
.ceoMain {
  width: 100%;
  height: 690px;
  position: relative;
  bottom: 150px;
}
.ceoH1 {
  width: 150px;
  height: 50px;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  left: 300px;
}
.ceoP1 {
  width: 860px;
  height: 281px;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 200px;
  left: 300px;
}
.ceoP2 {
  margin-bottom: 15px;
}
